* {
    margin: 0%;
    padding: 0%;
    background: black;
}

h1 {
    font-size: 60px;
    color: red;
    font-family: 'Press Start 2P', cursive;
    float: left;
    animation: change 1.5s linear;
    animation-iteration-count: infinite;
    margin-top: 20%;
    margin-left: 30%;
}

.button {
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: red;
    box-shadow: 0px 8px rgba(255, 0, 0, 0.692);
    margin-left: 45%;
    margin-top: 5%;
}

.button:hover {
    transform: translateY(4px);
    box-shadow: 0 8px rgba(255, 0, 0, 0.692);
    background-color: rgba(255, 0, 0, 0.575);
}

@keyframes change {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: red;
    }
    75% {
        color: yellow;
    }
    100% {
        color: red;
    }
}